<div class="header">

    <div class="start">
        <div class="carte-ballade bouton" (click)="carteBallade()">
            <i class="ri-map-pin-2-fill"></i>
            <h2>Carte des ballades</h2>
        </div>
        <div class="mes-ballades bouton" (click)="mesBallades()">
            <i class="ri-walk-line"></i>
            <h2>Mes ballades</h2>
        </div> 
    </div>
    
    <div class="end">
        <div class="mon-compte bouton" (click)="monCompte()">
            <i class="ri-user-fill"></i>
            <h2>Mon compte</h2>
        </div>
    </div>
</div>
