<app-header></app-header>
<h2>Modification Mot de Passe</h2>

<form [formGroup]="modifierMotDePasse" (ngSubmit)="onSubmit()" id="modifierMotDePasse">

    <label>Mot de Passe</label>
    <input formControlName="password" type="password">

    <label>Confirmation Mot de Passe</label>
    <input formControlName="confirmPassword" type="password">

    <div *ngIf="modifierMotDePasse.errors?.['passwordMismatch'] && modifierMotDePasse.get('confirmPassword')?.touched" class="condition">
      Les mots de passe ne correspondent pas.
    </div>

      <div *ngIf="modifierMotDePasse.get('password')?.hasError('required') && modifierMotDePasse.get('password')?.touched" class="condition">
        Merci de définir un nouveau mot de passe.
    </div>
    <div *ngIf="modifierMotDePasse.get('password')?.hasError('minlength') && modifierMotDePasse.get('password')?.touched" class="condition">
        Le mot de passe doit contenir au moins 8 caractères.
    </div>



    <button type="submit" class="button">Modifier</button>
</form>