@use '../../mixins' as *;

.compteCompagnons{
  display: flex;
  flex-direction: row;
  width: 100vw;
  overflow: hidden;
  .compte{
    height: calc(100vh - 80px);
    width: 20vw;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 

    .names{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 100px;
      .name{
        font-family: var(--secondary-font);
        font-size: 17px;
      }
      .username, .fieldname{
        font-family: var(--primary-font);
        font-weight: 600;
        font-size: 20px;
      }

      .name, .username, .fieldname{
        color: var(--background-color);
      }
    }

    .attributes{
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .attribute{
        font-family: var(--secondary-font);
        color: var(--background-color);
        font-size: 17px;
      }
    }

    .btns{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 35px;
      .button{
        @include button-style;
        height: 35px;
        font-size: 17px;
      }
    }
  }
  .mes-compagnons{
    width: 80vw;
    height: calc(100vh - 80px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}