@use '../../mixins' as *;

.compteCompagnons{
  display: flex;
  flex-direction: row;
  width: 100vw;
  overflow: hidden;
  .compte{
    height: calc(100vh - 80px);
    width: 20vw;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 

    .names{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 100px;
      .name{
        font-family: var(--secondary-font);
        font-size: 17px;
      }
      .username, .fieldname{
        font-family: var(--primary-font);
        font-weight: 600;
        font-size: 20px;
      }

      .name, .username, .fieldname{
        color: var(--background-color);
      }
    }

    .attributes{
      width: 90%;
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      .attribute{
        font-family: var(--secondary-font);
        color: var(--background-color);
        font-size: 17px;
      }
    }

    .btns{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 35px;
      .button{
        @include button-style;
        height: 35px;
        font-size: 17px;
      }
    }
  }
  .mes-compagnons{
    width: 80vw;
    height: calc(100vh - 80px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media (max-width: 1250px) {
  .compteCompagnons{
    flex-direction: column;
    width: 100vw;

    .compte{
      padding-top: 25px;
      height: 450px;
      width: 100vw;
      justify-content: space-between; 
      .start{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }
      .names{
        padding: 0;
        width: 50%;
      }
      .attributes{
        width: 50%;
      }
      .btns{
        margin-top: 25px;
      }
    }
    .mes-compagnons{
      width: 100vw;
      height: auto;
    }
  }
}

@media (max-width: 600px) {
  .compteCompagnons{
    flex-direction: column;
    width: 100vw;

    .compte{
      height: 450px;
      .start{
        flex-direction: column;
      }
      .names{
        width: 80%;
      }
      .btns{
        margin-top: 25px;
      }
    }
  }
}