.compagnons{
  display: flex;
  flex-direction: column;
  width: 80vw;
  .compagnon{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    .picture{
      display: flex;
      margin-left: 20px;
      width: 80px;
      height: 80px;
      img{
        width: 80px;
      }
    }

    .attribute{
      color: var(--third-color);
      font-family: var(--secondary-font);
    }
    .attributeName{
      color: var(--secondary-color);
      font-family: var(--secondary-font);
      font-weight: 500;
    }

    .attributes{
      display: flex;
      flex-direction: column;
      width: 20vw;
      margin-left: 20px;
      .name{
        color: var(--secondary-color);
        font-family: var(--primary-font);
        font-weight: 600;
      }
    }
    
    .natures{
      display: flex;
      flex-direction: column;
      width: 20vw;
      margin-left: 10px;
    }
    .description{
      display: flex;
      flex-direction: column;
      width: 45vw;
      margin-left: 10px;
    }

    .buttons{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      margin-right: 35px;
      .iconbtns{
        display: flex;
        flex-direction: column;
        i{
          margin-top: 10px;
          color: var(--secondary-color);
          font-size: 25px;
        }
      }
    }
  }
}
.spacebtn{
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.button{
  background-color: var(--primary-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
  height: 50px;
  width: 150px;
  cursor: pointer;
  margin-top: 25px;
}