<div *ngIf="loading">Chargement des compagnons...</div>
<div *ngIf="error" class="error">{{ error }}</div>

<div>
  <div *ngIf="!loading && !error">

    <div *ngFor="let compagnon of mesCompagnons" class="compagnons">
      <div class="compagnon">

        <div class="picture">
          <img [src]="'../../assets/images/espece_' + compagnon.race?.espece?.id+ '.png'">
        </div>

        <div class="attributes">
          <span class="name">{{ compagnon.name }}</span>
          <span class="attribute">{{ compagnon.race?.name }}</span>
          <span class="attribute">{{ compagnon.age }} ans</span>
        </div>

        <div class="natures">
          <span class="attributeName">Natures : </span>
          <span class="attribute" *ngFor="let nature of compagnon.natures; let last = last"> {{ nature.name }}<span *ngIf="!last">, </span></span>
        </div>

        <div class="description">
          <span class="attributeName">Description : </span>
          <span class="attribute"> {{ compagnon.description }} </span>
        </div>

        <div class="buttons">
          <div class="button" (click)="onSubmitCreer(compagnon.id)">
            Créer une balade
          </div>

          <div class="iconbtns">
            <i class="ri-edit-line" (click)="onSubmitModifier(compagnon.id)"></i>
            <i class="ri-delete-bin-line" (click)="onSubmitSupprimer(compagnon.id)"></i>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="spacebtn">
    <div class="button" (click)="onSubmitCreerA()">
      Ajouter Annimal
    </div>
  </div>
</div>