<div class="login-create">


    <form [formGroup]="login" (ngSubmit)="onSubmit()" id="login">

        <label>
            Email :
        </label>
        <input formControlName="email">
        <div *ngIf="login.get('email')?.invalid && login.get('email')?.touched">
            L'email est obligatoire.
        </div>

        <label>
            Password :
        </label>
        <app-password-input [control]="passwordControl"></app-password-input>

        <button type="submit" class="button">Se connecter</button>
    </form>

    <div class="space-btn">
        <div class="button" (click)="inscription()">
            Inscription
        </div>
    </div>
</div>