<h1>Modification d'une Ballade</h1>
<form [formGroup]="modifierBallade" (ngSubmit)="onSubmit()">

    <label>
        Commune :
    </label>
    <input type="text" placeholder="Tapez un code postal" aria-label="Number" matInput [formControl]="lieuCtrl" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        @for (option of filteredCodePostaux | async; track option) {
        <mat-option [value]="option">{{option}}</mat-option>
        }
    </mat-autocomplete>

    <!-- Adresse, rue  -->
    <label>
        Adresse :
    </label>
    <mat-select formControlName="adresseCtrl" (ngModelChange)="emettreLieu()">
        <mat-option [value]="item.id" *ngFor="let item of adressesParCodePostal"> {{item?.rue}}</mat-option>
    </mat-select>

    <!-- Horaire  -->
    <label>
        Horaire :
    </label>
    <input type="time" formControlName="heure">


    <!-- Jours de la semaine  -->
    <label>
        Date :
    </label>
    <mat-select formControlName="jours" multiple>
        <mat-option #allSelected (click)="toggleAllSelection()">Tout les jours</mat-option>
        <mat-option *ngFor="let jour of jours" [value]="jour" (click)="toggleOne()">
            {{jour}}
        </mat-option>
    </mat-select>

    <!-- Durée  -->
    <label>
        Durée :
    </label>
    <mat-select formControlName="dureeMinute">
        <mat-option [value]="15">15 minutes</mat-option>
        <mat-option [value]="30">30 minutes</mat-option>
        <mat-option [value]="45">45 minutes</mat-option>
        <mat-option [value]="60">1 heure</mat-option>
    </mat-select>

    <!-- Description -->
    <label for="infos"> Description</label>
    <textarea formControlName="infos" maxlength="250" rows="5"></textarea>

    <button type="submit">Modifier la ballade</button>
</form>