<app-header></app-header>

<h2>Création d'une Ballade</h2>
<form [formGroup]="creationBallade" (ngSubmit)="onSubmit()" id="creationBallade">

    <!-- Adresse : obligatoire -->
    <app-localisation [adresseListen]="'18800, Bourges'" (adresseEmit)="setAdresse($event)"></app-localisation>

    <!-- Horaire : obligatoire  -->
    <label>
        Horaire :
    </label>
    <input type="time" formControlName="horaire">

    <!-- Jour Semaine : obligatoire  -->
    <label>
        Date :
    </label>
    <mat-select formControlName="date" multiple>
        <mat-option #allSelected (click)="toggleAllSelection()">Tout les jours</mat-option>
        <mat-option *ngFor="let jour of jours" [value]="jour" (click)="toggleOne()">
            {{jour}}
        </mat-option>
    </mat-select>

    <!-- Durée : obligatoire  -->
    <label>
        Durée :
    </label>
    <mat-select formControlName="duree">
        <mat-option [value]="15">15 minutes</mat-option>
        <mat-option [value]="30">30 minutes</mat-option>
        <mat-option [value]="45">45 minutes</mat-option>
        <mat-option [value]="60">1 heure</mat-option>
    </mat-select>

    <label for="infos"> Description :</label>
    <textarea formControlName="infos" maxlength="250" rows="5"></textarea>

    <button type="onSubmit" class="button">Créer la ballade</button>
</form>