<form [formGroup]="creationCompte" (ngSubmit)="onSubmit()" id="creationCompte">
    <label>
        Prénom :
    </label>
    <input formControlName="firstName">
    <div *ngIf="creationCompte.get('firstName')?.invalid && creationCompte.get('firstName')?.touched" class="condition">
        Le prénom est obligatoire.
    </div>

    <label>
        Nom :
    </label>
    <input formControlName="lastName">
    <div *ngIf="creationCompte.get('lastName')?.invalid && creationCompte.get('lastName')?.touched" class="condition">
        Le nom est obligatoire.
    </div>

    <label>
        Pseudonyme :
    </label>
    <input formControlName="username" (blur)="checkUsername()">
    <div *ngIf="creationCompte.get('username')?.errors?.['usernameExists'] && creationCompte.get('username')?.touched" class="condition">
        Ce nom d'utilisateur est déjà utilisé.
    </div>

    <label>
        Age :
    </label>
    <input type="number" formControlName="age">
    <div *ngIf="verifAge && creationCompte.get('age')?.touched" class="condition">
        Vous devez avoir au moins 18 ans.
    </div>

    <app-localisation (adresseEmit)="setAdresse($event)"></app-localisation>

    <label>
        Email :
    </label>
    <input formControlName="email" (blur)="checkEmail()">
    <div *ngIf="creationCompte.get('email')?.hasError('required') && creationCompte.get('email')?.touched" class="condition">
        L'email est obligatoire.
    </div>
    <div *ngIf="creationCompte.get('email')?.hasError('emailExists')" class="condition">
        Cet email est déjà utilisé.
    </div>

    <label>
        Password :
    </label>
    <input formControlName="password" type="password">
    <div *ngIf="creationCompte.get('password')?.invalid && creationCompte.get('password')?.touched" class="condition">
        Le mot de passe est obligatoire.
    </div>

    <button type="submit" class="button">S'inscrire</button>
</form>

<div class="space-btn">
    <div class="button" (click)="connexion()">Connexion</div>
</div>