<form [formGroup]="creationCompte" (ngSubmit)="onSubmit()">
    <label>
        Prénom :
        <input formControlName="firstName">
    </label>
    <div *ngIf="creationCompte.get('firstName')?.invalid && creationCompte.get('firstName')?.touched">
        Le prénom est obligatoire.
    </div>

    <label>
        Nom :
        <input formControlName="lastName">
    </label>
    <div *ngIf="creationCompte.get('lastName')?.invalid && creationCompte.get('lastName')?.touched">
        Le nom est obligatoire.
    </div>

    <label>
        Age :
        <input type="number" formControlName="age">
    </label>

    <label>
        Localisation :
        <input formControlName="localisation">
    </label>

    <label>
        Disponibilité :
        <input formControlName="disponibilite">
    </label>
    
    <button type="submit">Envoyer</button>
</form>
