<app-header></app-header>

<h2>Modification Compte</h2>
<form [formGroup]="modifierCompte" (ngSubmit)="onSubmit()" id="modifierCompte">
    <label>
        Prénom :
    </label>
    <input formControlName="firstName">
    <div *ngIf="modifierCompte.get('firstName')?.invalid && modifierCompte.get('firstName')?.touched" class="condition">
        Le prénom est obligatoire.
    </div>

    <label>
        Nom :
    </label>
    <input formControlName="lastName">
    <div *ngIf="modifierCompte.get('lastName')?.invalid && modifierCompte.get('lastName')?.touched" class="condition">
        Le nom est obligatoire.
    </div>

    <label>
        Pseudonyme :
    </label>
    <input formControlName="username" (blur)="checkUsername()">
    <div *ngIf="modifierCompte.get('username')?.errors?.['usernameExists'] && modifierCompte.get('username')?.touched" class="condition">
        Ce nom d'utilisateur est déjà utilisé.
    </div>


    <label>
        Age :
    </label>
    <input type="number" formControlName="age">
    <div *ngIf="modifierCompte.get('age')?.invalid && modifierCompte.get('age')?.touched" class="condition">
        L'âge est obligatoire.
    </div>
    <div *ngIf="verifAge && modifierCompte.get('age')?.touched" class="condition">
        Vous devez avoir au moins 18 ans.
    </div>

    <app-localisation (adresseEmit)="setAdresse($event)"></app-localisation>

    <label>
        Email :
    </label>
    <input formControlName="email" (blur)="checkEmail()">
    <div *ngIf="modifierCompte.get('email')?.invalid && modifierCompte.get('email')?.touched" class="condition">
        L'email est obligatoire.
    </div>
    <div *ngIf="modifierCompte.get('email')?.hasError('emailExists')" class="condition">
        Cet email est déjà utilisé.
    </div>

    <label>
        Password :
    </label>
    <span class="masked-password">********</span>

    <button type="submit" class="button">Modifier</button>
</form>