@use 'mixins' as *;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$restapi-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$restapi-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$restapi-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$restapi-theme: mat.m2-define-light-theme((
  color: (
    primary: $restapi-primary,
    accent: $restapi-accent,
    warn: $restapi-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($restapi-theme);


:root {
  --primary-color: #B8D5C4;
  --primary-color-light: #daffea;
  --secondary-color: #2F484F;
  --third-color: #607176;
  --danger-color: #d55f5f;
  --field-color: #D9D9D9;
  --background-color: #FFF9EE;
  --primary-font: 'Quicksand', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--background-color);
}

.custom-select-panel .mat-mdc-option {
  background-color: #ffffff !important;
  color: var(--third-color) !important;
  font-family: var(--secondary-font) !important;
}

.leaflet-popup{
  contain: content;
}

.leaflet-popup-content-wrapper, .leaflet-popup-content {
  width: 500px;

}
.popup-ballade{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 37px;
  
  img{
    width: 100px; 
    margin-bottom: 8px;
  }

  .infos{
    
    .center{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
    }
    .info{
      display: flex;
      align-items: center;
    }

    label{
      margin-top: 7px;
      font-family: var(--primary-font);
      color: var(--secondary-color);
      font-size: 20px;
    }
    p{
      font-family: var(--secondary-font);
      color: var(--third-color);
      font-size: 15px;
      margin: 0;
      margin-left: 5px;
      white-space: normal;
      overflow-wrap: break-word; 
      word-break: break-word; 
    }
  }

  .row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    .column{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-right: 10px;
    }
  }

  .button{
    @include button-style;
    border: 0;
    outline: 0;
    font-size: 20px;
  }
}

